.chartContainer {
  width: 100%;
  position: relative;
}

.chartWrapper {
  width: 100%;
  position: relative;
}

.chartCanvas {
  width: 100%;
  position: relative;
}

.chartCanvasCrosshair {
  cursor: crosshair;
}

.chartCanvasPointer {
  cursor: pointer;
}

.chartCanvasDefault {
  cursor: default;
}

