/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1e222d; /* Arka plan rengiyle uyumlu olsun */
  overflow: hidden; /* Gereksiz scroll barları engellemek için */
}

#root {
  width: 100%;
  height: 100%;
}